//** SCREEN STYLES **//

// Imports --------------------------------------------------------------

@import defaults
@import compass/utilities
// Layout --------------------------------------------------------------

+susy

// change '.container' to match your HTML container element
// or @extend it to apply multiple containers on your site.
#container
  +container
  //+show-grid("grid.png")
  //*
    background-color: rgba(0,0,0,.125)

h1
  +pad(2,2)
  +leader(3,25px)
  +trailer(1,25px)

a
  &:focus
    outline: none

div[role="main"]
  #search
    +pad(0.2,0.2)
  ul
    margin:
      left: 1em
      right: 1em
      bottom: 0.5em
    li
      //+no-bullets
      +trailer(1,25px)
      .text
        margin-left: 0.6em
        li
          margin-bottom: 0
          
  #help
    +prefix(1) 
    .mono
      background-color: rgba(0,0,0,.125)

#footer
  +pad(1,1)
  border-top:
    style: solid
    color: black
    width: 1px
  ul
    +no-bullets
#github
  left: -65px
  height: 30px
  top: 40px
  position: absolute
  text-decoration: none
  width: 250px
  @include rotate(-45deg)
  span 
    background: black
    color: white
    font-size: 14px
    left: 0
    padding: 5px 0
    position: absolute
    text-align: center
    width: 250px
    @include box-shadow(rgba(black, 0.2) 1px 1px 10px)
    // If you’re using Compass < 0.11 use this:
    // @include box-shadow(rgba(black, 0.2), 1px, 1px, 10px);
    @include transition(opacity, 1s)
    &:last-child 
      /* this is the backside */
      background: blue
      opacity: 0
  &:hover span 
    &:first-child 
      opacity: 0
    &:last-child 
      opacity: 1

@media all and (min-width: 560px)
  #footer
    ul
      +horizontal-list

@media all and (max-width: 480px)
  h1
    +pad(0.5,0.5)
    +leader(1,25px)
  #github
    visibility: hidden

@media print
  *
    background: transparent !important
    color: #444 !important
    text-shadow: none !important
  a, a:visited
    color: #444 !important
    text-decoration: underline
  a:after
    content: " (" attr(href) ")"
  abbr:after
    content: " (" attr(title) ")"
  .ir a:after
    content: ""
  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid
  thead
    display: table-header-group
  tr, img
    page-break-inside: avoid
  @page
    margin: 0.5cm
  p, h2, h3
    orphans: 3
    widows: 3
  h2, h3
    page-break-after: avoid
