-title "Mensa"

- if @mensa == false ||  @mensa.nil? || @mensa.empty?
  #help
    %h3
      Usage:
    %code
      Enter a the mensa id. You can find it by going
      %a{:href=>'http://www.studentenwerk-muenchen.de/mensa/speiseplan/index-de.html', :target=>'_blank', :rel=>'nofollow'}
        here
      selecting your mensa and look at the URL in your browser. The ID will be almost at the end of the URL.
      %br
      http://www.studentenwerk-muenchen.de/mensa/speiseplan/speiseplan_[[-ID-]]_-de.html
    %br
-else
  %ul
    - @mensa[:food].each do |food|
      %li{:class => food[:meatless] && "meatless"}= food[:name]
%form{:action => url("/"), :method => "get", :id => "search"}
  %input{:type => "text", :name => "search", :value => "#{search}"}

- flattr('mensa')
