- if @news
  %ul
    -@news.each do |n|
      %li
        %strong.subject
          =n['subject']
        %em.teacher
          %a{:href=>"http://sol.cs.hm.edu/fi/rest/public/person/name/#{n['teacher']}"}
            = get_dozent n['teacher']
        - if n['text']
          .text
            -tmp = n['text'].gsub(/#/,"").gsub(/\n\n|\n/,"<br />")
            =RDiscount.new(tmp).to_html
- else
  #help
    %h3
      Usage:
    %code
      Just search in the box above for relevant teachers
      
