-title "Raum Suche"

- if @rooms == false ||  @rooms.nil? || @rooms.empty?
  #help
    %h3
      Usage:
    %code
      Enter a search query above like this: "[building]-[floor]"
    %br
-else
  %ul
    - @rooms.sort.each do |room|
      %li= room

%form{:action => url("/"), :method => "get", :id => "search"}
  %input{:type => "text", :name => "search", :value => "#{search}"}

%a{:href=>"/update_rooms", :rel=>"nofollow"}
  Update Data
- flattr('rooms')
