@charset "UTF-8";
/* Reset --------------------------------------------------------------*/
/* line 14, ../../../../.rvm/gems/ree-1.8.7-2011.03@newsfilter/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ree-1.8.7-2011.03@newsfilter/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ree-1.8.7-2011.03@newsfilter/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ree-1.8.7-2011.03@newsfilter/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ree-1.8.7-2011.03@newsfilter/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ree-1.8.7-2011.03@newsfilter/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ree-1.8.7-2011.03@newsfilter/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ree-1.8.7-2011.03@newsfilter/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML5 Reset --------------------------------------------------------------*/
/* line 108, ../../../../.rvm/gems/ree-1.8.7-2011.03@newsfilter/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* line 16, ../../style/_defaults.sass */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 20, ../../style/_defaults.sass */
.serif, body {
  font-family: Cambria, Georgia, serif;
}

/* line 23, ../../style/_defaults.sass */
.sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 26, ../../style/_defaults.sass */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 29, ../../style/_defaults.sass */
.caps, .allcaps, h1, caption, .smallcaps, h4 {
  letter-spacing: 0.1em;
}

/* line 32, ../../style/_defaults.sass */
.allcaps, h1, caption {
  text-transform: uppercase;
}

/* line 36, ../../style/_defaults.sass */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* line 42, ../../style/_defaults.sass */
body {
  color: #4c4c4c;
}

/* line 55, ../../style/_defaults.sass */
::-moz-selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* line 60, ../../style/_defaults.sass */
::selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* line 68, ../../style/_defaults.sass */
a:link, a:visited {
  color: #005498;
}
/* line 70, ../../style/_defaults.sass */
a:link, a:visited, a:hover, a:active {
  outline: none;
}
/* line 72, ../../style/_defaults.sass */
a:focus, a:hover, a:active {
  color: #984400;
  text-decoration: none;
}
/* line 75, ../../style/_defaults.sass */
a:focus {
  outline: thin dotted;
}

/* line 80, ../../style/_defaults.sass */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 83, ../../style/_defaults.sass */
h1 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

/* line 91, ../../style/_defaults.sass */
h3 {
  font-weight: bold;
}

/* line 94, ../../style/_defaults.sass */
h4 {
  text-transform: lowercase;
}

/* line 98, ../../style/_defaults.sass */
h5, h6 {
  font-style: italic;
}

/* line 103, ../../style/_defaults.sass */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 106, ../../style/_defaults.sass */
strong, dfn, b {
  font-weight: bold;
}

/* line 109, ../../style/_defaults.sass */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 113, ../../style/_defaults.sass */
sup {
  vertical-align: super;
}

/* line 116, ../../style/_defaults.sass */
sub {
  vertical-align: sub;
}

/* line 119, ../../style/_defaults.sass */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 123, ../../style/_defaults.sass */
ins {
  text-decoration: underline;
}

/* line 126, ../../style/_defaults.sass */
del {
  text-decoration: line-through;
}

/* line 129, ../../style/_defaults.sass */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 134, ../../style/_defaults.sass */
small {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 137, ../../style/_defaults.sass */
q {
  font-style: italic;
}
/* line 139, ../../style/_defaults.sass */
q em {
  font-style: normal;
}

/* line 147, ../../style/_defaults.sass */
p {
  margin-bottom: 1.5em;
}

/* line 150, ../../style/_defaults.sass */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 157, ../../style/_defaults.sass */
blockquote {
  margin: 1.5em;
  font-style: italic;
}

/* line 163, ../../style/_defaults.sass */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* line 170, ../../style/_defaults.sass */
ol, ul, dl {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

/* line 174, ../../style/_defaults.sass */
ol {
  list-style: decimal;
}

/* line 177, ../../style/_defaults.sass */
ul {
  list-style: disc;
}
/* line 179, ../../style/_defaults.sass */
li ul {
  list-style-type: circle;
}

/* line 182, ../../style/_defaults.sass */
dt {
  margin-top: 1.5em;
  font-style: italic;
}

/* line 186, ../../style/_defaults.sass */
dd {
  padding-left: 1.5em;
}

/* line 192, ../../style/_defaults.sass */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 198, ../../style/_defaults.sass */
table, td, th {
  vertical-align: top;
}

/* line 201, ../../style/_defaults.sass */
th, thead th {
  font-weight: bold;
}

/* line 204, ../../style/_defaults.sass */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 209, ../../style/_defaults.sass */
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 212, ../../style/_defaults.sass */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* line 220, ../../style/_defaults.sass */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 224, ../../style/_defaults.sass */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 228, ../../style/_defaults.sass */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 231, ../../style/_defaults.sass */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 234, ../../style/_defaults.sass */
label {
  font-weight: bold;
}

/* line 239, ../../style/_defaults.sass */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  border-color: #4c4c4c;
  height: 2.571em;
}

/* line 250, ../../style/_defaults.sass */
textarea {
  height: 11.143em;
  vertical-align: text-bottom;
}

/* line 261, ../../style/_defaults.sass */
input[type=search] {
  -webkit-appearance: none;
}
/* line 263, ../../style/_defaults.sass */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 266, ../../style/_defaults.sass */
button {
  width: auto;
  overflow: visible;
}

/* line 29, ../../../../.rvm/gems/ree-1.8.7-2011.03@newsfilter/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 33, ../../../../.rvm/gems/ree-1.8.7-2011.03@newsfilter/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 13, ../../style/screen.sass */
#container {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
}
/* line 22, ../../../../.rvm/gems/ree-1.8.7-2011.03@newsfilter/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 19, ../../style/screen.sass */
h1 {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  padding-left: 16.393%;
  margin-top: 0.96em;
  margin-bottom: 0.96em;
}

/* line 26, ../../style/screen.sass */
a:focus {
  outline: none;
}

/* line 30, ../../style/screen.sass */
div[role="main"] p {
  margin-bottom: 5px;
}
/* line 32, ../../style/screen.sass */
div[role="main"] li {
  list-style: none;
  margin-bottom: 0.96em;
}
/* line 11, ../../../../.rvm/gems/ree-1.8.7-2011.03@newsfilter/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
div[role="main"] li li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 35, ../../style/screen.sass */
div[role="main"] li .text {
  margin-left: 1em;
}
/* line 37, ../../style/screen.sass */
div[role="main"] #help {
  padding-left: 8.197%;
}
/* line 39, ../../style/screen.sass */
div[role="main"] #help .mono, div[role="main"] #help pre, div[role="main"] #help code, div[role="main"] #help tt {
  background-color: rgba(0, 0, 0, 0.125);
}

/* line 42, ../../style/screen.sass */
footer {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  padding-left: 24.59%;
  padding-right: 24.59%;
}

/* line 46, ../../style/screen.sass */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

@media all and (orientation:portrait);
@media all and (orientation:landscape);
@media screen and (max-device-width: 480px);
@media print {
  /* line 60, ../../style/screen.sass */
  * {
    background: transparent !important;
    color: #444444 !important;
    text-shadow: none !important;
  }

  /* line 64, ../../style/screen.sass */
  a, a:visited {
    color: #444444 !important;
    text-decoration: underline;
  }

  /* line 67, ../../style/screen.sass */
  a:after {
    content: " (" attr(href) ")";
  }

  /* line 69, ../../style/screen.sass */
  abbr:after {
    content: " (" attr(title) ")";
  }

  /* line 71, ../../style/screen.sass */
  .ir a:after {
    content: "";
  }

  /* line 73, ../../style/screen.sass */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 76, ../../style/screen.sass */
  thead {
    display: table-header-group;
  }

  /* line 78, ../../style/screen.sass */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 82, ../../style/screen.sass */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 85, ../../style/screen.sass */
  h2, h3 {
    page-break-after: avoid;
  }
}
